services:
  server:
    image: docker-manager-server:${BUILD_NUMBER}
    container_name: docker-manager
    ports:
      - "85:8080"
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /sys/class/power_supply/BAT0:/sys/class/power_supply/BAT0

  client:
    image: docker-manager-client:${BUILD_NUMBER}
    container_name: docker-manager-client
    ports:
      - "86:80"
    restart: unless-stopped
