services:
  server:
    image: docker-manager-server:${BUILD_NUMBER}
    container_name: docker-manager
    network_mode: host
    restart: unless-stopped
    cap_add:
      - NET_ADMIN
      - NET_RAW
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /sys/class/power_supply/BAT0:/sys/class/power_supply/BAT0
      - docker-manager-storage:/app/data
      - /home:/home
      - /var/log:/host/var/log:ro

  client:
    image: docker-manager-client:${BUILD_NUMBER}
    container_name: docker-manager-client
    ports:
      - "86:80"
    restart: unless-stopped

volumes:
  docker-manager-storage:
